pandas==1.5.3
geopandas==0.9.0
numpy==1.23.5
json5==0.9.6
ujson==5.4.0
altair==4.2.2
pickleshare==0.7.5
cloudpickle==2.00
folium==0.14.0
streamlit==1.23.1
streamlit_folium==0.12.0
Scikit-learn==1.2.2
Scikit-plot==0.3.7